#background-container {
  background-image: url(/assets/massage-2350548_1920.jpg);
  background-size: cover;
}

#logo {
  width: 100px;
}

#paket-title {
  color: #0a0a0a;
}

#date {
  color: #c2c2c2;
  border-color: #c2c2c2;
}

#date-tag {
  color: #c2c2c2;
}